.divAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12rem;


}
.aboutBrief{
    

}
.botBreakLine{
margin-top: 30px;

}


.aboutLogos{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: center;
}

.github{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.gitLogoDiv{
    order: 0;
    border: 2px black solid ;
    cursor: pointer;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5rem;
    background-color: rgb(144, 223, 252);
    position: relative;


}
.githubflex{
    padding-left: 1.5rem;
}
.gitLogoDiv:hover {
    transform: translateY(-5px);
}

.gitNameDiv{
 
position: absolute;
padding-bottom: 10px;
border: solid black 2px;
background-color: white;
font-weight: bold;
border-radius: 0.5rem;
padding: 0;
text-align: center;
width: 4rem;
font-size: 14px;
cursor: pointer;
}

.overlay {
              z-index: 9;
              margin: -10px;
            
          }
                  .linked {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
        
                  }

.linkLogoDiv{
    border: 2px black solid;
    cursor: pointer;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5rem;
    background-color: rgb(144, 223, 252);

}
.linkLogoDiv:hover {
    transform: translateY(-5px);
}

.linkedNameDiv {

    position: absolute;
    padding-bottom: 10px;
    border: solid black 2px;
    background-color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0;
    text-align: center;
    width: 4rem;
    font-size: 14px;
    cursor: pointer;
}

.linkedflex {
    padding-left: 1.5rem;
}

.mailflex {
    padding-left: 1.5rem;
}

.mailNameDiv {

    position: absolute;
    padding-bottom: 10px;
    border: solid black 2px;
    background-color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0;
    text-align: center;
    width: 4rem;
    cursor: pointer;
    font-size: 14px;
}

.mailLogoDiv {
    border: 2px black solid;
    cursor: pointer;
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.4rem !important;
    border-radius: 5rem;
    color: black;
    background-color: rgb(144, 223, 252);

}
.material-symbols-outlined{
    font-size: 55px;
}
.mailLogoDiv:hover {
    transform: translateY(-5px);
}

.sizeMailLogo{
height: 10px !important;
}



.aboutContact {
    color: white;
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 0 0 2px  black;
}

.breakLine{
        background: 'lime';
        height: '3px';
}

@media only screen and (max-width: 768px) {
    /* .aboutContact {
           display:none;
        } */
}

