.appbackground{
    background-color: rgb(0, 187, 255) !important;
    height: 100vh;
}
.welcome{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 20px;
}
.welcometwo {
    font-size: 16px;
    padding-bottom: 1rem;
}

.loader{
    margin-left: 50%;
    padding-top: 2rem;
}


.welcomenotlogin{
padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 16px;
}

.loginLink{
text-decoration: none;
}
.loginLink:hover{
    color: rgb(172, 94, 172);
    text-decoration: none;
}

.NaNLink{

    text-decoration: none;
    font-size: 2rem;
    color:rgb(184, 242, 67);
}

.NaNLink:hover {

   
    color: rgb(172, 94, 172);
}

.NaNSen {
    text-decoration: none;
    font-size: 2rem;
    align-self: center;
}

.NaNDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardLogo{
    
font-size: 2.3rem !important;
color: rgb(93, 153, 93);
font-variation-settings:
        'FILL' 0 !important;
        cursor: pointer;

}

.logos{display: flex;justify-content: center; gap: 1.5rem; }
       

.addSen:hover {
    text-decoration: none;
    font-weight: bold;
   

}

.addSen {
    text-decoration: none;
    font-weight: bold;
   
}

.addLogo{
    width: 20%;
}


/* BUTTONS BAR */

.divBar{
    padding-top: 6%;
    background-color: rgb(0, 187, 255);
}


.buttonsBar{
    display: flex;
    gap: 5rem;
    justify-content: center;
    background-color: rgb(0, 187, 255);

}

::placeholder{
    color: black;
    font-weight: bold;
}

.move:hover{
    transform: translateY(-5px);
}
.bodydictionarydiv{
    padding-bottom: 2rem;
}

/* body {
    white-space: pre-wrap;
    background-color: rgb(0, 187, 255);

} */

body{
    height: 100vh;
    background-color: rgb(0, 187, 255);
    padding-bottom: 10%;
}

.randomButton{
width: 20rem;
height: 3.5rem;
border-radius: 2rem;
    background-color: rgb(244, 210, 41);
        border: black 1px solid;
       
        outline: none;
        color: black;
            font-size: 24px;
            font-weight: bold;    
}


.randomButton:hover {
    border: none;
    background-color: rgb(191, 165, 36);
    border: black 1px solid;
        outline: none;
        color: black;
       
}



.randomButton:focus {
   border: none;
    background-color: rgb(230, 198, 39);
    box-shadow: 0px 0px 4px 0px black;
    outline: none;
    color: black;
}

.SearchButton{
    height: 3.5rem;
    width: 20rem;
    border-radius: 4rem;
    background-color: rgb(244, 210, 41);
    border-color: rgb(140, 140, 0) !important;
    border: black 1px solid !important;
    outline: none;
    color: black;
    font-weight: bold;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    text-align: center;
font-size: 24px;
}
.manifest{
    display: standalone;

}

.SearchButton:focus {
    border: none;
    background-color: rgb(230, 198, 39);
    box-shadow: 0px 0px 4px 0px black;
    outline: none;
    color: black;
}

.SearchButton:hover {
    border-color: none;
    background-color: rgb(191, 165, 36);
 
outline: none;
border: black 1px solid !important;

}

/* MEDIA SCREEN */


@media only screen and (max-width: 768px) {
    .buttonsBar {
        flex-direction: column;
        gap: 3rem !important;
        align-items: center;
    }

    .SearchButton {
        width: 14rem !important;
    }

    .randomButton {
        width: 14rem !important;
    }

}

